<!-- 
<html>
	<body>
<h2>Hello</h2>
 
u didn't filled the form



<p><img src="../../images/good-morning-14a.jpg"></p>

 <p><img src="../../images/good-morning-14a.jpg" width='50' height='20' ></p> 
</body> -->
</html>
<!DOCTYPE html>
<html>
<head>
<style> 
#example1 {
    background-image: url(../../images/good-morning-14a.jpg);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 400px;
}
</style>
</head>
<body>

<div id="example1"><marquee ><h2>Hello</h2></marquee>
	<marquee behavior="scroll" direction="up"><h2>Hello</h2></marquee>
	<p><marquee behavior="scroll" direction="down"><h2>Hello</h2></marquee></p>
	</div>
	</body>
	</html>
